<div class="center" style="background-color: blue; color: white">

        <p>
            Griffin Pfenniger - 
            Leo Tian - 
            CPSC 2221 Final Project - 
            Langara College - 
            Fall of 2018 -
            Jason Kang -
            Damian Tylewsli
        </p>

    </div>