<div>
    <div id="field-selector">
        <label>Where: </label><input type="text" id="whereField">
    </div>
    <select id="comparator">
        <option>=</option>
        <option>!=</option>
        <option>></option>
        <option><</option>
    </select>
    <input id="value-field" type="text">
</div>