<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>

		<!-- Image -->
		<img src="/nature.jpg" alt="nature" style="width:100%;min-height:350px;max-height:500px;">
		
		<div class="wrapper">

			<!-- Main Area -->
			<div>

				<!-- Left Panel -->
				<div>
					<% $.get('/test') %>
				</div>

				<!-- Right Panel -->
				<div>

				</div>

			</div>

			<% include ../partials/footer.ejs %>

		</div>

	</body>
</html>
