<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>

		<!-- Image -->
		<img src="/nature.jpg" alt="nature" style="width:100%;min-height:350px;max-height:500px;">
		
		<div class="wrapper">

			<!-- Main Area -->
			<div class="flex column spacing">

				<!-- Left Panel -->
				<div class="bg-blue border" style="flex: 1; text-align: center;">
					<h2 class="fg-white center" style="margin-top: 5%; margin-bottom: 5%;">Table View</h2>

					<form>
						<select>
							<option>Customers</option>
							<option>Menu</option>
						</select>
					</form>

					<br>
				</div>

				<!-- Right Panel -->
				<div class="border" style="flex: 3">
					<div id="query-results"></div>
				</div>

			</div>

			<% include ../partials/footer.ejs %>

		</div>

	</body>
	<script>
		document.getElementById("home").classList.add("active");

		$.getJSON('/test', (data) => {
				document.getElementById("query-results").innerHTML = buildTable(data);
		});

		function buildTable(data) {
			var table = `
				<table>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
					</tr>	
				`
				data.forEach((row) => {
					table += `
						<tr>
							<td>` + row.firstName + `</td>
							<td>` + row.lastName + `</td>
						</tr>`
				});
				table += `</table>`;
				return table;
		}
		
	</script>
</html>
