<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>
        <% include ../partials/nav.ejs %>

        <div class="page_wrapper">

            

        </div>

    </body>
</html>