<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>
        <% include ../partials/nav.ejs %>

        <div class="page_wrapper">

            <!-- Add Stock -->
            <!-- Make Transaction -->
            <!-- Process Transaction -->
            <!-- Review Transactions -->
            <!-- Take from Stock -->
            <!-- View Menu -->
            <!-- View Served -->
            <!-- Review Cooking From -->

            <div class="pos_wrapper">
                <div class="pos_container">Add Stock</div>
                <div class="pos_container">Take From Stock</div>
                <div class="pos_container">Lookup Employee</div>
            </div>

            <div class="pos_wrapper">
                <div class="pos_container">Make Transaction</div>
                <div class="pos_container">Process Transaction</div>
                <div class="pos_container">Review Transactions</div>
            </div>

            <div class="pos_wrapper">
                <div class="pos_container">View Menu</div>
                <div class="pos_container">View Served</div>
                <div class="pos_container">Review Cooking From</div>
            </div>

        </div>

    </body>
    <style>
        .page_wrapper {
            margin-top: 100px;
            text-align: center;
        }
        .pos_wrapper {
            display: flex;
            flex-direction: row;
        }
        .pos_container {
            flex: 1;
            border: solid 1px black;
            padding: 25px;
            margin: 10px;
            background-color: blue;
            color: white;
        }
    </style>
</html>