<div class="panel">
    <h1>Contact Us</h1><br>

    <table>
        <tr>
            <th>Name</th>
            <th>Primary Role</th>
            <th>Email</th>
            <th>GitHub Handle</th>
        </tr>
        <tr>
            <td>Griffin Pfenniger</td>
            <td>Web</td>
            <td>pfenniger.griffin@gmail.com</td>
            <td>gpfenniger</td>
        </tr>
        <tr>
            <td>Leo Tian</td>
            <td>SQL</td>
        </tr>
        <tr>
            <td>Jason Kang</td>
        </tr>
        <tr>
            <td>Damian Tylewsli</td>
        </tr>
    </table>
</div>