<div class="panel">
    <h1>Our Technology Stack</h1><br>

    <div>

        <div class="left">
            <h3>Languages</h3>
            <p>Hyper Text Markup Language</p>
            <p>Cascading Style Sheets</p>
            <p>JavaScript</p>
            <p>SQLite3</p>
        </div>

        <div class="right">
            <h3>Frameworks and Libraries</h3>
            <p>Node.JS with Express</p>
            <p>Embedded JavaScript</p>
            <p>better-sqlite3</p>
            <p>Node-GYP</p>
            <p>jQuery</p>
            <p>Jest</p>
        </div>

    </div>



    <div style="width: 50%; margin-left: 25%; margin-right: 25%;">
        <h2>Why We Chose This Stack</h2>

        <br>
        <p><b>Flexbility</b></p>
        <p>
            HTML and CSS provide an extremely flexible web development
            foundation wether it be for mobile viewing or wide screen. 
        </p>

        <br>
        <p><b>Modularity</b></p>
        <p>
            EJS allows developers to split a webpage into components,
            focusing on building pages and partials that come together
            to build a website.
        </p>

        <br>
        <p><b>Portability</b></p>
        <p>
            SQLite uses a local file as a database making it easy
            for a website to be built as a single server. MySQL and Oracle
            SQL require a seperate server to be hosting a database
            whereas by using SQLite everything can be built and managed
            by a Node backend in the local filesystem.
        </p>

        <br>
        <p><b>Consistency</b></p>
        <p>
            Built with JavaScript on the Frontend and on the Backend,
            they are able to communicate seamlessly. jQuery is able 
            to send content requests to the Backend and Express makes
            managing those requests as simple as possible.
        </p>

        <br>
        <p><b>Scalablity</b></p>
        <p>
            Using Jest to write test cases allows growing the website
            or database without fear of breaking components. If something
            isn't working then Jest is our song bird in the tunnel letting
            us know if something is wrong long before we can notice.
        </p>

    </div>

</div>