<div class="panel">
    <h1>The Theme We Chose</h1>

    <br>
    <div>
        <div class="left" style="width: 45%;">
            <h3>My Little Restaurant</h3>
            <p>
                The database and its tables are based
                around being used with a small family
                restaurant.
            </p>
        </div>

        <div class="right" style="width: 45%;">
            <h3>Minimalistic</h3>
            <p>
                The website is based around a simple
                design, using primary colours and basic
                div use. 
            </p>
        </div>
    </div>
</div>