<div class="panel">
    <h1>Who We Are</h1><br>
    <p>Learn about us and what we are in school for!</p>
    <br>
    <div>
        <div style="float:left;width:40%;">
            <h3>Griffin Pfenniger</h3>
            <p>
                A student for 3 years at Langara College he is
                in the Computer Studies program. Griffin is interested
                in a wide variety of software development and spends
                his free time developing websites, Java applications
                and phone apps. He also spends his free time rock
                climbing and writing when he can. Griffin looks forward
                to finishing his post secondary education at SFU.
            </p>
        </div>
        <div style="float:right;width:40%">
            <h3>Jason Kang</h3>
            <p>

            </p>
        </div>  
        <div>
            <div>

            </div>
            <div style="float:left;width:40%;">
                <h3>Damian Tylewsli</h3>
                <p>
    
                </p>
            </div>
            <div style="float:right;width:40%;">
                <h3>Leo Tian</h3>
                <p>

                </p>
            </div>
        </div>  
    </div>
</div>